.h-1 {
  height: 1px;
}

.bg-272C4E {
  background-color: #272c4e;
}

.line-1 {
  .text-1 {
    margin-right: 6px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #ffffff;
  }
}

.simplen-icon-img {
  width: 25px;
  height: 25px;
}

.copy-img {
  width: 18px;
  height: 20px;
}

.line-2 {
}

.general-text-1 {
  font-size: 13px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #c7c9da;
}

.line-4 {
  .text-1 {
    margin-right: 6px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #ffffff;
  }
}

.line-7 {
  .text-1 {
    margin-right: 6px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #ffffff;
  }
}