$highlight-color: #f90;
.aa {
  color: $highlight-color;
  background: #ccc;
  width: 375px;
  &:hover {
    color: red;
  }

  .aaa {
    color: black;
    background-color: green;
  }
}

.ccc {
  font-size: 14px;
}
