.bg-14172E {
  background-color: #14172e;
}
.min-h-100 {
  min-height: 100%;
}
.pb-48 {
  padding-bottom: 48px;
}
.r-16 {
  right: 16px;
}
.t-12 {
  top: 12px;
}

.bor-col-111428 {
  border-color: #111428;
}

.floor1 {
  :deep(.van-tabs__wrap) {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111428;

    .van-tabs__nav {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      height: 40px;
      border: none;
      background-color: rgba(0, 0, 0, 0);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .van-tab {
      font-size: 14px;
      font-family: PingFang-SC-Bold, PingFang-SC;
      font-weight: bold;
      color: #979bb7;
      height: 20px;
      line-height: 20px;
      width: 50%;
      border: none;
    }

    .ctrl-1 {
      display: flex;
      justify-content: flex-end;
      padding-right: 20px;
      border-right: 1px solid #979bb7;
    }

    .ctrl-2 {
      isplay: flex;
      justify-content: flex-start;
      padding-left: 20px;
    }

    .van-tab--active {
      background-color: rgba(0, 0, 0, 0);
      color: #3a67fa;
    }
  }
}
